@model List<Region>

<section class="Regions">
    <div class="container">
        <div class="row">
            @{
                foreach (var elem in Model)
                {
                    
                        <div class="Region rounded-lg col-12 text-white mt-3 mx-auto" style="background-image:url('../@elem.Photo.Url')">
                            <a asp-action="Region" asp-controller="Climbing" asp-route-id="@elem.Id">
                                <div>
                                    <h1 class="pt-5">@elem.Name</h1>
                                    <p>
                                        @elem.Description
                                    </p>
                                </div>
                            </a>
                        </div>
                }
            }
        </div>
    </div>
</section>

