body
{
    background-color: darkgrey;
}

.Regions
{
    text-align: center;
}

.Regions img
{
    width: 100%;
    height: 100%;
}

.Regions caption
{
    margin: 8px;
}

.Regions p
{
    margin-bottom: 30px;
}