@model Region
<!--Tutaj jest Kod to skopiowania-->
<section class="ConfirmDelete">
    <div class="container">
        <div class="col-12">
            <h1 class="text-center mt-3 text-white">Czy napewno usunąć poniższy Region?</h1>

            <div class="col-12">
                
            </div>

        </div>

    </div>
</section>