<section class="Edit">
    <div class="container">
        <div class="row">
            <div class="choice mx-auto my-4  col-lg-5">
                <h1>Regiony</h1>
                <p>Edytuj informacje o danym regionie. Dodawanie nowego regionu lub usuwanie już istniejącego.</p>
                <div class="text-center"><a asp-action="AddRegion">Dodaj</a> <a asp-action="ChoseRegionToChange">Edytuj</a> <a asp-action="ChoseRegionToDelete">Usuń</a></div>
            </div>
            <div class="choice mx-auto my-4  col-lg-5">
                <h1>Skały</h1>
                <p>Edytuj informacje o danym kamieniu. Dodawanie nowegj skały lub usuwanie już istniejącej.</p>
                <div class="text-center"><a asp-action="AddRock">Dodaj</a> <a asp-action="EditRock">Edytuj</a> <a asp-action="DeleteRock">Usuń</a></div>
            </div>
            <div class="choice mx-auto my-4 col-lg-5">
                <h1>Drogi</h1>
                <p>Edytuj informacje o danej drodze. Dodawanie nowej drogi lub usuwnianie już istniejącej.</p>
                <div class="text-center"><a asp-action="AddRoutes">Dodaj</a> <a asp-action="EditRoutes">Edytuj</a> <a asp-action="DeleteRoutes">Usuń</a></div>
            </div>
            <div class="choice mx-auto my-4 col-lg-5">
                <h1>Użytkownicy</h1>
                <p>Zmiana informacji o użytkownikach dodawanie nowych ról, zmiana danych.</p>
                <div class="text-center"><a asp-action="AddUser">Dodaj</a> <a asp-action="EditUser">Edytuj</a> <a asp-action="DeleteUser">Usuń</a></div>
            </div>
        </div>
    </div>
</section>